name: Docker_CI_setup
on:
  push:
jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      -
        name: Set up QEMU test
        uses: docker/setup-qemu-action@v3
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      -
        name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_gauravkashikar25 }}
          password: ${{ secrets.DOCKERHUB_Token }}
      -
        name: Build and push
        uses: docker/build-push-action@v3
        with:
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/qod:docker-ci-setup
